@media all and (max-width: 1000px) {
	
	.main-content__text {
		margin: auto;
		margin-top: 47px;
	}

	.main-content__img {
		margin: auto;
		margin-top: 59px;
	}

	.container__header {
		padding-right: 20px;
	}

	.header__elem-hidden {
    	width: 0;
	}

}

@media all and (max-width: 768px) {		

	.header__logo {
		margin: 0 10px;
		margin-right: 45px;
	}

	.footer__line-text {
		font-size: 24px;
	}

}

@media all and (max-width: 630px) {

	.header__main{		
		height: 90px;	
	}
	
	.header__pre-nav {
		display: none;
	}

	.fa-bars {
		color: #404347;
		font-size: 50px;
	}

	.fa-bars:hover {
		cursor: pointer;
		color: rgba(64, 67, 71, 0.5);
	}

	.header__logo_menu label {
		display: block;		
	}

	.header__logo_menu {
		margin: 20px;
	}	

	.header__logo {
		margin-left: 0;
		margin-right: 0;
	}
	
	.flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
	}

	.header__nav {
		display: block;
		position: absolute;
		width: 300px;
		margin-left: -500px;
		top: 90px;
		background-color: #FCFCFC;
		padding: 0;
		padding-right: 20px;
	}

	.header__navigate {
		position: relative;
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.flex__elem-nav {		
		width: 100%;
		height: 30px;
		padding: 10px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	#header__menu:checked ~ .header__nav {
		margin-left: 0;
	}

	.flex__text-nav {
		font-size: 30px;
		text-align: right;
	}

	.header__shadow {
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	.main-content__text,
	.main-content__img {
		display: none;
	}

	.main__content_mobile {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;		
		text-align: center;
		background-image: url(../img/designer.png);
		background-repeat: no-repeat;
		background-position: center center;		
		background-size: cover;
	}

	.mobile__h1 {
		color: #fff;		
		margin: 0;
		margin-top: 20px;		
		font-size: 48px;
		font-weight: 700;
		line-height: 55.759px;
		text-align: center;
	}	

	.mobile__text_block {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: auto;		
		width: 230px;
		height: auto;
		margin: auto;
	}

	.mobile__text {
		color: #fff;		
		margin: 0;
		font-size: 36px;
		font-weight: 400;
		line-height: 30px;
		text-align: left;
		
	}

	.mobile__text_d {
		margin-top: 60px;
	}

	.mobile__right {		
		width: 100px;
		margin: auto;
		padding-left: 100px;
		font-size: 35.94px;
		
	}
	
	.mobile__num {
		margin: 0;
		font-size: 136.73px;
		font-weight: 400;
		line-height: 75px;
		text-align: left;		
	}

	.mobile__text_end {
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
	}

	.mobile__main_button {
		margin-bottom: 20px;
	}
	
	/* .fa-chevron-circle-down {
		margin-bottom: 20px;
	} */

	.container-links {
		display: none;
	}

	.container__image-li {
		text-align: center;
	}	

	.container__image-li img { 	
		width: 95%;
	    height: auto;	    
	    text-align: center;
	}

	.footer__hidden,
	.footer__container_presearch {
		display: none;
	}

	.footer__container {
		margin: auto;
	}

	.footer__container_h1 {
		text-align: center;
	}

	.footer__fa-elem_mobile {		
		width: auto;
		margin: auto;
		margin: 0;
		padding-right: 15px;		
	}

	.footer__fa-elem_mobile .fab {
		font-size: 50px;
	}

	.footer__mobile {
		display: block;
		margin: 0;
	}

	.footer__container_h1-mobile {
		text-align: center;
		margin: auto;
		color: #8BDB00;
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 700;
	}

	.footer__fpart_img {
		margin: 0;
		padding: 0;
	}

	.footer__link_container {
		padding: 40px 0;
		width: auto;
		text-align: center;
	}

	.footer-search__input {
		margin: 0;
		height: 52px;
	}

	.fa-paper-plane {
		font-size: 24px;
	}

	.footer__input {
		height: 50px;
		width: 220px;
    	border: none;
	}
	
	.footer__search_button {
		line-height: 
	}

	.footer__after-sch {
		display: block;
		text-align: center;
		margin-top: 30px;	
	}

	.footer__after-sch_txt {
		color: #fff;
		font-size: 20px;
		text-decoration: none;
		border-bottom: 2px dotted #fff;
	}

	.footer__line-green {
		display: none;
	}

	.footer__container_before {
		display: flex;
    	flex-direction: row;
    	justify-content: center;
		height: 101px;
		background-color: #68af00;
		padding-top: 1px;
	}

	.footer__container_bblock {		
		width: 280px;
		height: 70px;
		margin: 20px auto;
		padding: 0;
		color: #fff;
		font-size: 22px;
		position: absolute;
	}

	.footer__container_btext {				
		text-align: center;
		margin: 0;		
	}

	.material-icons {	    
	    font-size: 36px !important;
	    line-height: 0;	    
		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;
		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;
		/* Support for IE. */
		font-feature-settings: 'liga';
		position: relative;
		left: 110px;
		top: -25px;
	}	

	.footer__container_bnum {
		width: 95px;
		border-bottom: 2px dotted #fff;
		position: relative;
		top: 8px;
		left: 10px;
	}

	.footer__container_b {
		position: absolute;
		top: 29px;
		left: 155px;
	}

	.footer__end * {
		margin: 0;
		padding: 0;
	}

	.footer__spart {
		padding-top: 20px;
	}

}

@media all and (max-width: 630px) {

	.container__header {
		padding-top: 102px;
	}

	.container__header_h1 {
		font-size: 36px;		
		line-height: 30px;
	}

	.container__header_p {
		font-size: 22px;
		line-height: 24px;
	}
}