@font-face {
    font-family: 'Spoiler';
    src: url(../fonts/spoilerboldwebfont.ttf);
    src: url(../fonts/spoilerregularwebfont.ttf);
}

* {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}


body {
	margin: 0;
	padding: 0;
	background-color:  #ebebeb;	
	font-family: 'Spoiler', sans-serif;
}

#header__menu,
.header__logo_menu label {
	display: none;
}

.header__main{
	width: 100%;
	height: 134px;	
}

.header__pre-nav {
	height: 30px;
	background-color: #4f5a6e;	
}

.header__pre {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

.header__elem-nav {
	height: 20px;	
	margin-top: 4px;
	padding-right: 20px;
	padding-left: 20px;
}

.header__elem-nav_mid {
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flex__elem {
	list-style-type: none;
	text-decoration: none;
	background-color: #4f5a6e;
	border: none;
}

.flex__text {
	color: #FCFCFC;	
	font-size: 12px;
	text-decoration: none;
	vertical-align: center;
	text-transform: lowercase;
}

.header__button {
	background-color: orange;
	color: #FCFCFC;
	border: none;	
}

.header__bottom_right {
	margin-left: 1px;
	padding: 1px 11px;
}

.header__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	width: auto;
	margin: 0;
	padding: 0;
}

.header__navigate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #FCFCFC;
	width: auto;
	margin: 0;
}

.flex__elem-nav {	
	list-style-type: none;	
	background-color: #FCFCFC;	
	padding: 5px;	
	margin: 3px 0 0 20px;	
}

.flex__text-nav {
	color: black;
	text-decoration: none;
	vertical-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;	
}

.flex__elem-nav:hover,
.flex__text-nav:hover {
	background-color: #ebebeb;
	color: orange !important;
}

.header__logo{
	width: 170px;
	padding-top: 12px;	
	text-align: right;

}

.header__elem-hidden {
	width: 130px;	
}

.header__shadow {
	-webkit-box-shadow: 0 5px 5px 5px lightgrey;
	        box-shadow: 0 5px 5px 5px lightgrey;
}

-------------------------------------------/* MAIN CONTENT */
.main {

}

.main-content {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;	 
	-webkit-box-orient: horizontal;	 
	-webkit-box-direction: normal;	 
	    -ms-flex-direction: row;	 
	        flex-direction: row; 
	-ms-flex-pack: distribute; 
	    justify-content: space-around; 
	-ms-flex-wrap: wrap; 
	    flex-wrap: wrap;
}

.main-content__text {	
	text-align: right;
	margin: auto;	
	margin-right: 42px;
	margin-top: 47px;	
}

.main-content__text-h1 {
	color:  #68ae00;
	font-size: 60px;
	font-weight: 400;
	line-height: 60px;
	margin: 0;
}

.main-content__text-p {	
	color:  #333333;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.fa-chevron-circle-left {
	color: #333333;
	font-size: 20px;
	margin-right: 5px;
}

.main-content__button-sm {	
	margin: 0;
	padding: 0;
	margin-right: 45px;	
	text-transform: lowercase;	
	color: #f98006;
	font-size: 20px; 
	font-weight: 700;
	line-height: 20px;		
}

.main__content_checkbox {
	display: none;
}

.rotate {
	cursor: pointer;
	
}

.main__form {
	position: absolute;
	width: 316px;
	height: 454px;		
	margin-left: -2000px;
	background-color: #fff;	
}

#contmenu:checked ~ .main__form {
	margin: 0;
}

.main__form_header {
	color: #333333;
	font-size: 26px;
	text-align: center;
	padding-top: 35px;
	line-height: 26px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
}

.main__form_field {
	width: 316px;
	height: 316px;
	margin: 0;
	margin-top: 30px;
	padding: 0;
	position: absolute;	
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: space-between;
}

.main__form_input {
	width: 263px;
	height: 32px;
	text-align: right;
	padding-right: 10px;
	font-size: 20px;
	font-weight: 700;	
	background-color: #ebebeb;
	border: none;
}

.main__form_dot {
	width: 6px;
	height: 6px;
	background-color: #67AD00;
	border-radius: 8px;
	position: relative;
	top: -44px;
	left: 136px;
}

.main__form_btn{
	width: 262px;
	height: 51px;
	border: none;
	background-color: #f98006;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}

.main-content__button-sm p {
	margin: 0;
	padding: 0;
}

.fa-chevron-circle-left {
	margin-right: 8px;
}

.main-content__button {
	background-color: #f98006;
	width: 214px;
	height: 51px;	
	margin: 50px 40px 30px 0;
	border: none;	
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-content__img {	
	margin: 0;
	margin-right: auto;
	margin-top: 59px;
}

.main__content_mobile {
	display: none;
}

--------------------------------------------/*container*/

.container {	
	display: block;
}

.container__header {
	width: auto;    
    max-width: 950px;    		
	margin: auto;
    padding: 132px 20px 41px 0;       
}

.container__header_h1 {
	color:  #333333;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;		
}

.container__header_p {
	color:  #333333;
	font-size: 20px;
	font-weight: 400;
	line-height: 48px;	
}

.container__header_p,
.container__header_h1 {
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

.container__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    width: auto;    
    max-width: 950px;
      	
}

.container__image-li { 
	margin: 0 auto;	  
    list-style: none;
}

.container__image-li img { 	
	width: 300px;
	height: 157px; 
	margin: 0;   
}


---------------

.container-links {

}

.container-link {
	margin: 0;
	background: url(../img/business.jpeg); 
	background-size: cover;	
}

.container-link__header {	
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.container-link__main {
	width: auto;;
	max-width: 950px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
	margin: auto;
	padding-bottom: 100px;
}

.container-link__content {
	text-align: center;
	line-height: 10px;
}

.container-link__content-i {
	color: #67AD00;
	font-size: 55px;
}

.container-link__content-h1 {
	color: #67AD00;
	font-size: 36px;	
	margin: 0;
	padding: 0;
	padding-top: 50px;
	line-height: 10px;
}

.container-link__content-p {
	font-size: 30px;
	text-transform: uppercase;
}

.container-link__content-pp {
	font-size: 24px;
	font-weight: 700;
}

.container-link__content_text {
	font-size: 22px;
	line-height: 2px;
}

.container-link__content-csh {
	color: #f98006;
}

------------------------------------------/*footer*/

.footer_links {

}

.footer__links {	
	height: 550px;
	background: #404348;
}

.footer__link_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
	padding: 90px;
	background: #404348;
}

.footer__container_before {
	display: none;
}

.footer__container {	
	margin: 0 3%;
	color: #E9E9E9;
	text-transform: lowercase;
}

.footer__container_h1 {
	color: #8BDB00;
	font-size: 30px;
	font-weight: 700;
	text-align: right;
	margin: 0;
	padding: 0;
	
}

.footer__fa-elem {
	text-align: right;
}

.fa-youtube,
.fa-facebook-f,
.fa-linkedin-in,
.fa-google-plus-g {
	color: #E9E9E9;
	font-size: 30px;
	margin: 10px 0 30px 20px;
}

.footer__container_ul {
	text-align: right;
	margin: 0;
	padding: 0;
}

.footer__container_li {
	color: #E9E9E9;
	list-style-type: none;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;
	font-weight: 700;
}

.footer__container_presearch {
	margin: 5px 0 9px 0;
	text-align: right;
}

.footer-search__input {
	height: 38px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;		
}

.footer-search__button {	
	background-color: #67AD00;
	padding: 0 10px;
	text-align: center;
	color: #E9E9E9;
	font-size: 18px;
	font-weight: 700;	
	border: none;
	line-height: 38px;
}

.footer__input {
	background-color: #E9E9E9;
	text-align: right;
	width: 280px;
	padding-right: 5px;
	font-size: 16px;
}

.footer__mobile {
	display: none;
}

.footer__after-sch {
	display: none;
}

-------------


.footer_links {

}

.footer__line-green {
	height: 90px;	
	background-color: #67AD00;
	line-height: 85px;
}

.footer__line-text {
	font-size: 28px;
	margin: 0;
	padding: auto;
	color: #fff;	
	text-align: center;
	line-height: 90px;		
}

--------------

.footer__end {
	height: 300px;	
}

.footer__fpart {	
	background-color: #FCFCFC;	
	text-align: center;
	padding: 30px;
}

.footer__fpart_img {
	padding: 0 20px;
}

.footer__spart {
	padding-bottom: 25px;
	text-align: center;
	background-color: #FCFCFC;
}